In [1]:
import pandas as pd
import numpy as np

In [2]:
M = pd.read_csv("Copy of Movie Reviews - Sheet1.csv", index_col='Name')

In [3]:
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Aarti Jaiswal,4.0,NaN,NaN,NaN,4.0,3.0,NaN,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
Aditya Dharmasagar,5.0,NaN,NaN,4.0,5.0,4.0,4.0,NaN,4.0,5.0,5.0,5.0,4.0,4.0,NaN,5.0
Adrian Cavallaris,NaN,4.0,3.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
Ahmed Muheebuddin,5.0,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aishwarya reddy,NaN,3.0,4.0,3.0,4.0,4.0,3.0,NaN,4.0,4.0,3.0,5.0,NaN,4.0,NaN,3.0

In [4]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [5]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

#### Question 1: What movie is most Similar to 'The fault in our stars' (60 pts)

In [6]:
recs = get_recs('The Fault in Our Stars', M, 1)

In [7]:
recs[:1]

[('Malificent', 0.24772975460916977)]

#### Malificent is most similar to 'The fault in our stars'

#### Question 2: Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

In [8]:
#HINTS...

#the movies I've seen
my_ratings = M.ix['Kalyan Chand'].dropna()
#the movie I've rated the highest
my_ratings.sort(ascending=False)
#the name of the movie I've rated the highest
fav_movie = my_ratings.index[0]

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

In [9]:
my_ratings

Gone Girl                                5.0
How to Train your Dragon 2               5.0
Interstellar                             5.0
Big Hero 6                               5.0
Transformers                             5.0
The Hobbit                               5.0
Godzilla                                 4.0
The Hunger Games: Mockingjay - Part 1    4.0
American Sniper                          4.0
300: Rise of an Empire                   3.0
Divergent                                3.0
Malificent                               3.0
Guardians of the Galaxy                  3.0
Name: Kalyan Chand, dtype: float64

In [10]:
fav_movie

'Gone Girl'

In [11]:
recs = get_recs(fav_movie, M, 10)
recs

[('How to Train your Dragon 2', 0.20606264923169826),
 ('American Sniper', 0.19915154027951337),
 ('The Lego Movie', 0.1184240647825726),
 ('Godzilla', 0.11539780659123179),
 ('The Fault in Our Stars', 0.087436990484270741),
 ('Divergent', 0.070204150055963185),
 ('Unbroken', 0.061201054502118241),
 ('Interstellar', 0.034133476335144471),
 ('300: Rise of an Empire', 0.015358333872813516),
 ('Guardians of the Galaxy', -0.044285278157149985)]

#### Based on my classmates experience, the movies I'd like to see are above.

#### Question 3: Bonus Question... For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)

In [12]:
not_viewed = M.ix['Kalyan Chand']
not_viewed.sort()
for i in range(0, not_viewed.count(), 1):
    not_viewed.drop(not_viewed.index[0], inplace=True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  from ipykernel import kernelapp as app

In [13]:
not_viewed

The Lego Movie           NaN
The Fault in Our Stars   NaN
Unbroken                 NaN
Name: Kalyan Chand, dtype: float64

In [14]:
M.shape

(105, 16)

In [15]:
recommendedMovie1= get_recs('The Lego Movie', M, 1)
recommendedMovie1

[('Guardians of the Galaxy', 0.42940224318424697)]

In [16]:
recommendedMovie2= get_recs('The Fault in Our Stars', M, 1)
recommendedMovie2

[('Malificent', 0.24772975460916977)]

In [17]:
recommendedMovie3= get_recs('Unbroken', M, 1)
recommendedMovie3

[('The Fault in Our Stars', 0.16510710336834616)]

In [18]:
def get_ratings(movie):
    recommended_movie=get_recs(movie,M,1)
    movie_name=[i[0] for i in recommended_movie]
    movie_rating = M[movie_name].mean()
    rating=(movie,round(movie_rating))
    return rating

In [19]:
to_be_rated=['The Lego Movie','The Fault in Our Stars','Unbroken']

for x in to_be_rated:
    rated=get_ratings(x)
    print rated

('The Lego Movie', 4.0)
('The Fault in Our Stars', 3.0)
('Unbroken', 4.0)